.container {
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.cards {
  padding: 4rem;
  background: #fff;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items,
.topic-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 10px;
  color: #ffffff;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 0.5rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ffffff;
}

.cards__items--promoted {
  border: 2px solid #f88f56;
  background-color: rgba(0, 0, 0, 0.1);
}

.img-box img,
.cards__item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 92%;
  object-fit: cover;
  object-position: center;
}

.text-title,
.text-description {
  position: absolute;
  font-size: xx-large;
}

.text-title {
  color: white;
  left: 45%;
  bottom: 90%;
}

.text-description {
  color: rgb(0, 0, 0);
  top: 80%;
  border: 3px solid #000;
  margin: 0 10% 10px 10%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.topic-btns {
  margin-top: 32px;
}

.topic-btns {
  margin: 60px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
