.topic-container {
  background: url('/public/images/img-home.jpg');
  top: 0;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.topic-container > h1 {
  color: #fff;
  font-size: 100%;
  margin-top: -100px;
}

/* this is the p tage for the topic description */
.topic-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.topic-btns {
  margin-top: 32px;
}

.topic-btns .btn {
  margin: 60px;
}
