.topic-container {
  position: relative;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.topic-container > h1 {
  color: #ffffff;
  font-size: 100%;
}

/* this is the p tage for the topic description */
.topic-container > p {
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.topic-btns {
  margin-top: 32px;
}

.topic-btns .btn {
  margin: 60px;
}

.img-box {
  height: 100%;
  width: 100%;
}

.topic-container .text-title{
  position: absolute;
  color: white;
  left: 45%;
  bottom: 90%;
  font-size: xx-large;
}

.topic-container .text-description{
  position: absolute;
  color: rgb(0, 0, 0);
  top: 80%;
  font-size: xx-large;
  border: 3px solid #000000 ;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}
