.Navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  padding: 30px;
  background-color: #423449;
  color: #f88f56;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.nav-item {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  font-size: 23px;
}

.token-item {
  color:white;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.token-user {
  color:rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40%;
}
