.row{
    background-color: #423449;
}
.card{
    box-shadow: 0 20px 500px rgba(113, 52, 52, 0.03);
    padding: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.comment-text{
    font-size:12px;
}

.fs-10{
    font-size:12px;

}

.comment_footer {
    width: 100%;

}
